@model EBookPvt.Models.customerTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>customerTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cusEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cusAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cusPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cusUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cusPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cusPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
