@model EBookPvt.Models.orderDetailsTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>orderDetailsTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookOrderTable.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookOrderTable.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookTable.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookTable.title)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to Dashboard", "Index")
</p>
