@model EBookPvt.Models.bookTable

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .sidebar {
        height: 100%; /* Make sidebar full height */
        width: 200px; /* Set sidebar width */
        position: fixed; /* Fixed position */
        top: 150px; /* Position from the top */
        left: 0; /* Position from the left */
        background-color: #61882F; /* Background color */
        padding-top: 20px; /* Add some padding at the top */
        overflow-y: auto; /* Allow vertical scrolling if content exceeds height */
    }

        .sidebar a {
            padding: 15px 20px; /* Padding for links */
            text-decoration: none; /* Remove underline */
            font-size: 18px; /* Font size */
            color: white; /* Text color */
            display: block; /* Display as block to take full width */
        }

            .sidebar a:hover {
                background-color: #E6EE27; /* Background color on hover */
            }
</style>

<h2>Upload New Book</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Book Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.bookTypeIdFk, "bookTypeIdFk", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("bookTypeIdFk", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.bookTypeIdFk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imageUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.imageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Create New Book Type", "Index", "bookType")
</div>

<div class="sidebar" />
<a href="@Url.Action("Index", "book")">Manage Book Details</a>
<a href="@Url.Action("Create", "book")">Manage Book Types</a>
<a href="@Url.Action("Index", "bookOrder")">Manage Order</a>
<a href="@Url.Action("Index", "customer")">Manage Customer Details</a>
<a href="@Url.Action("Index", "user")">Manage Accounts</a>
<a href="@Url.Action("Index", "adminDashboard")">Back To Dashboard</a>
</div>

